.card{
    width: 18rem;
    height: 27rem;
   margin: 30px 15px;
   
}


.card-text{
    font-size: 14px;
}
.card-btn{
    border-radius: 5px;
    background-color: white;
    font-size: 15px;
    padding: 5px 20px ;
}
.card-btn:hover{
    color: white;
    background-color: black;
   
}
.img{
    object-fit: cover;
}
.product-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.btnremove{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    padding: 5px 15px;
}
.btnadd{
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    font-size: 15px;
  
}
/* .btnadd:hover{
background-color: black;
color: white;
}
.btnremove:hover{
    background-color: white;
    color: black;
    } */
.img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin:0 auto;
}